@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

:root {
    --bgcolor: #f1f1f1;
    --white: #fff;
    --black: #000;
    --primary-color: #df3e3e;

}

html,
body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

/* default styling for all anchor tag */
a {
    text-decoration: none !important;
}

section {
    padding: 3rem 9%;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    z-index: 997;
    padding: 1.5rem 9%;
    box-shadow: 0px 2px 15px #0000001a;
    top: 0px;

}

.header .logo {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.header .logo img {
    max-height: 50px;
    object-fit: cover;
}

.header .menu-icon {
    display: none;
}

.header .menu-icon i {
    display: none;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    transition: all 0.5s;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header nav ul li {
    list-style: none;
    display: inline;
    font-size: 1.2rem;
}

.header nav ul li a {
    color: var(--black);
    font-weight: 500;
    transition: all 0.5s;
}

.header nav ul li a:hover {
    color: var(--primary-color);
}

/* End of header */

/* hero */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8.7rem;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#00000080, #00000080), url(../Images/uchiha-sasuke-naruto-ix-1536x864.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.5s;
}

.hero .hero-text h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.hero .hero-text span {
    color: var(--primary-color);
}

.hero .hero-text p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-action {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}

.first-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--white);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 10px;
    width: 150px;
    text-align: center;
}

.first-btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.second-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    width: 150px;
    text-align: center;
}

.second-btn:hover {
    background-color: #f06d6d;
    color: var(--white);
}

/* end of hero section */


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
  background-color:none;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: var(--primary-color);
  }
  
  .section-title h5 {
   
    color: rgba(0, 0, 0, 0.548);
  }
  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    background: url("../images/20-Latest-Kente-Styles-For-Ladies-00.webp") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
    color: var(--white);
}

.about:before {
    content: "";
    background: #000000cc;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .about-img {
    position: relative;
    transition: 0.9s;
}

.about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-left: 5px solid #7DC06B;
    border-top: 5px solid #7DC06B;
    transition: 0.9s;
}

.about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: "";
    border-right: 5px solid #7DC06B;
    border-bottom: 5px solid #7DC06B;
    transition: 0.9s;
}

.about .about-img:hover {
    transform: scale(1.03);
}

.about .about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
}

.about .content {
    position: relative;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--primary-color);
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .about {
        background-attachment: fixed;
    }
}






@media screen and (max-width: 801px) {
    .header {
        padding: 15px 30px;
    }

    .header .menu-icon {
        display: block;
    }

    .header .menu-icon i {
        display: block;
    }

    .header nav {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        z-index: 999;
    }

    .header nav ul {
        flex-direction: column;
        gap: 30px;
    }

    .header nav ul li {
        margin-top: 20px;
    }

    .header nav ul li a {
        font-size: 1.5rem;
    }

    .header nav.active {
        left: 0;
    }

    .header .menu-icon.active i {
        display: none;
    }

    .header .menu-icon.active i.close {
        display: block;
    }
}